<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="timeline">
    <ul>
      <li
        class="release"
        ng-repeat="release in releaseList",
        data-timestamp="{{release.timestamp}}"
        data-position="{{release.percentage}}",
        style="left: {{release.percentage}}%"
      >
        <span>{{release.name}}</span>
      </li>
    </ul>

  </div>
  <div class="scale">
    <div class="min">
      {{details.min.format('DD-MM-YYYY')}}
    </div>
    <div class="max">
      today
    </div>
  </div>
</div>
