<div class="alert alert-danger" ng-show="false == status.responseSuccess">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Ups!</strong> {{status.error}}
</div>
<div class="row animate-show report" ng-show="null != versions">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="timeline">
      <ul>
        <li
          class="release"
          ng-repeat="release in versions"
          data-timestamp="{{release.timestamp}}"
          data-position="{{release.percentage}}"
          style="{{'left: ' + release.percentage + '%'}}"
        >
          <span>{{release.name}}</span>
        </li>
      </ul>
    </div>
    <div class="scale">
      <div class="min">
        {{extra.min.format('DD-MM-YYYY')}}
      </div>
      <div class="max">
        today
      </div>
    </div>

  </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>Some stats</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Total releases in past year</h3>
        </div>
        <div class="panel-body">
          {{versions.length}}
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">First release in this year</h3>
        </div>
        <div class="panel-body">
          {{versions[0].date}}
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Last release date</h3>
        </div>
        <div class="panel-body">
          {{versions[versions.length - 1].date}}
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Average releases per month</h3>
        </div>
        <div class="panel-body">
          {{versions.length / 12 | number:1}}
        </div>
      </div>
    </div>
</div>
