<div ng-controller="ReporterCtrl">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <form novalidate class="form" role="form">
            <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <label class="sr-only" for="repository">Owner / Repository</label>
              <input
                type="text"
                class="form-control"
                name="repository"
                id="repository"
                placeholder="Owner/Repository"
                ng-model="repository.name"
              >
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <button class="btn btn-primary btn-block" ng-click="fetch(repository)">Fetch version</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <timeline releases="releaseList" extra="details" status="result"/>
        </div>
      </div>
    </div>
  </div>
</div>
